.currency-toggle {
  select {
    border: none;
    background: transparent;
    cursor: pointer;
    outline: none;
    -webkit-appearance:none;

    &:hover {
      color: #fff;
      background-color: #eb008d;
    }
  }
}
