.exchange-info {
  background-color: #fff;
  border: 2px solid #f7f6f7;
  border-radius: 1rem;
  color: #2c5ca8;
  padding: .5rem 1rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
